:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

/* General */

img {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  background-image: url("../images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
  background-color: var(--pale-blue);
}

h1 {
  font-size: 1.6em;
  font-weight: 900;
}

h2, button, #cancel-order {
  font-size: 1.3em;
  font-weight: 700;
}

p, #change-order {
  font-weight: 500;
  line-height: 1.6;
}

/* Card */

.card-wrap {
  border-radius: 10%;
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 3em; /* for now */
}

.card {
  background-color: white;
  border-radius:20px;
}

.hero-image {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  text-align: center;

}

.order-heading {
  padding: 1.5em;
}

.order-graph {
  padding-bottom: 2em;
}

.summary {
  display: flex;
  border-radius: 10px;
  background-color: var(--very-pale-blue);
  padding: 1em 0;
  align-items: center;
  margin-bottom: 2em; 
}

.summary-image {
  flex-grow: 1;
}

.summary-plan {
  text-align: left;
  padding-left: 1em;
  flex-grow: -1;
}

.summary-change {
  flex-grow: 5;
  text-align: right;
  padding-right: 1em;
}
